.light.App{
    background-color: var(--white);
    background-image: linear-gradient(0deg, rgba(255,255,255,0.95), rgba(255,255,255,0.95)), url('https://res.cloudinary.com/ruthless-labs/image/upload/v1658892092/img4_pjm6um.webp');
}
.light.App .custom__backdrop{
    background: rgba(255,255,255,0.9);
}
.light.App .custom__modal{
    background-color: var(--dim-white);
}
.light.App .custom__input{
    background-color: var(--dim-white);
    color: var(--black);
}
.light.App .custom__input:focus{
    border: 2px solid var(--accent-color);
}
.light .custom__nav ul li a{
    color: var(--black);
    font-weight: 800!important;
}
.light.App .landingpage__header .header__section{
    background-color: rgba(255,255,255,0.5);
}
.light.App .landingpage__header .header__section span.minititle{
    color: var(--black);
}
.light.App .landingpage__header .header__section h1.title{
    color: var(--black);
}
.light.App .landingpage__header .header__section .movie__ratings span{
    color: var(--black);
    font-weight: 700!important;
}
.light.App .landingpage__header .headerimg__div{
    background-color: rgba(255,255,255,0.5);
}
.light.App h3.discover-title{
    color: var(--black);
    font-weight: 800!important;
}
.light.App .explore__div a.discover-link{
    color: var(--dim-grey);
    font-weight: 700!important;
}
.light.App .search__div h3.header__text{
    color: var(--dim-grey);
    font-weight: 800!important;
    font-size: 23px;
    text-align: center;
}
.light .singlemovie__card{
    background-color: rgba(255,255,255,0.7);
    border: 2px solid var(--white);
    color: var(--black);
}
.light .singlemovie__card:hover{
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}
.light .singlemovie__cardbody ul.movie__details li{
    border: 1px solid var(--dim-white);
    color: var(--black);
    background-color: var(--dim-white);
}
.light .singlemovie__cardbody ul.movie__details li:hover{
    border: 1px solid var(--accent-color);
}
.light .singlemovie__cardbody ul.movie__details li span{
    font-weight: 700!important;
    color: var(--dim-grey);
}
.light.App .movies__section{
    background-color: rgba(255,255,255,0.5);
}
.light .hottestmovie__card{
    background-color: rgba(255,255,255,0.9);
    color: var(--black);
}
.light .hottestmovie__card:hover{
    color: var(--accent-color);
}
.light .hottestmovie__card ul.movie__details li{
    border: 1px solid var(--dim-white);
    color: var(--black);
    background-color: var(--dim-white);
}
.light .hottestmovie__card ul.movie__details li:hover{
    border: 1px solid var(--accent-color);
}
.light .hottestmovie__card ul.movie__details li span{
    font-weight: 700!important;
    color: var(--dim-grey);
}

/* Misc Light mode */
.light .networkToast{
    background-color: rgba(255,255,255,0.05);
}
.light .networkToast div{
    background-color: #fffff2;
}
.light .networkToast div p{
    color: var(--black);
    font-weight: 600!important;
}

.light.App .singlemovie__headercard h3.title{
    color: var(--black);
}
.light.App .singlemovie__headercard .singlemovie__info .facts svg{
    color: var(--black);
}
.light.App .singlemovie__headercard .singlemovie__info .facts span{
    color: var(--black);
    font-weight: 600!important;
}
.light.App .singlemovie__headercard .singlemovie__info .facts span.certification{
    border: 1px solid var(--black);
    color: var(--black);
    font-weight: 700!important;
}
.light.App .singlemovie__headercard .singlemovie__info .facts span.rating{
    color: var(--dim-grey);
}
.light.App .singlemovie__headercard .singlemovie__info .facts span.genres a{
    color: var(--dim-grey);
}
.light.App .singlemovie__headercard .singlemovie__info .facts span.genres a:hover{
    color: var(--black);
}
.light.App .singlemovie__headercard .singlemovie__info .cardheader__info i{
    color: var(--dim-grey);
    font-weight: 600!important;
}
.light.App .singlemovie__headercard .singlemovie__info .cardheader__info h4{
    color: var(--black);
    font-weight: 700!important;
}
.light.App .singlemovie__headercard .singlemovie__info .cardheader__info p{
    color: var(--dim-grey);
    font-weight: 500!important;
}
.light.App .singlemovie__headercard .singlemovie__info .cardheader__info .people li p{
    color: var(--dim-grey);
    font-weight: 600!important;
}
.light.App .singlemovie__headercard .singlemovie__info .cardheader__info .people li a{
    color: var(--black);
}
.light.App .moviemore__info{
    background-color: rgba(255,255,255,0.5);
}
.light.App .moviemore__info ul li h4{
    color: var(--black);
    font-weight: 600!important;
}
.light.App .moviemore__info ul li p{
    color: var(--dim-grey);
    font-weight: 500!important;
}
.light.App .movie__casts{
    background-color: rgba(255,255,255,0.5);
}
.light.App .movie__casts h3{
    font-weight: 700!important;
    color: var(--black);
}
.light.App .singlecast__card .singlecast__cardbody p{
    color: var(--black);
    font-weight: 800!important;
}
.light.App .singlecast__card .singlecast__cardbody span{
    color: var(--dim-grey);
    font-weight: 700!important;
}
.light.App .personbasic__data h3{
    color: var(--black);
}
.light.App .personbasic__data ul li h4{
    color: var(--black);
}
.light.App .personbasic__data ul li p{
    color: var(--dim-grey);
}
.light.App .persondetail__data h3{
    color: var(--black);
}
.light.App .persondetail__data h4{
    color: var(--black);
}
.light.App .persondetail__data p{
    color: var(--dim-grey);
}